In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [39]:
HF_TOKEN = ""

In [82]:
Gemini = "AIzaSyDDB2cNb7Kxi7cPRLtJvcrcr7aERoaYcCY"

In [83]:
file_path = '/kaggle/input/reports-modified/test_exc.xlsx'
receipts = pd.read_excel(file_path, sheet_name='Sheet1')
payments = pd.read_excel(file_path, sheet_name='Sheet2')

In [84]:
def df_to_text(df, name, business_col='BUSINESS'):
    date_cols = [col for col in df.columns if col not in [business_col, 'TOTAL']]
    
    def row_to_summary(row):
        revenue_parts = ", ".join([f"{date}: {row[date]}" for date in date_cols])
        return f"{name} | {row[business_col]} | {revenue_parts} | Total: {row.get('TOTAL', 'N/A')}"

    df['summary'] = df.apply(row_to_summary, axis=1)
    df['doc_type'] = name
    return df

In [85]:
# Example
receipts = df_to_text(receipts, 'RECEIPTS')
payments = df_to_text(payments, 'PAYMENTS')

In [86]:
full_data = pd.concat([receipts, payments], ignore_index=True)

In [87]:
full_data

,BUSINESS,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00,TOTAL,summary,doc_type
0,BUSINESS 1,23000,19000,27000,25000,30000,22000,28000,26000,27000,31000,25000,29000,312000,RECEIPTS | BUSINESS 1 | 2025-01-01 00:00:00: 2...,RECEIPTS
1,BUSINESS 2,15000,21000,18000,17000,22000,20000,24000,23000,25000,26000,20000,27000,258000,RECEIPTS | BUSINESS 2 | 2025-01-01 00:00:00: 1...,RECEIPTS
2,BUSINESS 3,35000,37000,30000,34000,36000,31000,39000,32000,34000,36000,33000,37000,414000,RECEIPTS | BUSINESS 3 | 2025-01-01 00:00:00: 3...,RECEIPTS
3,BUSINESS 4,10000,9000,12000,11000,14000,13000,12000,12500,13000,13500,11000,12000,143000,RECEIPTS | BUSINESS 4 | 2025-01-01 00:00:00: 1...,RECEIPTS
4,BUSINESS 5,40000,42000,45000,43000,46000,44000,47000,45000,44000,48000,46000,47000,537000,RECEIPTS | BUSINESS 5 | 2025-01-01 00:00:00: 4...,RECEIPTS
5,BUSINESS 6,17000,16000,18000,19000,21000,20000,19000,22000,21000,23000,20000,24000,240000,RECEIPTS | BUSINESS 6 | 2025-01-01 00:00:00: 1...,RECEIPTS
6,BUSINESS 7,22000,20000,23000,21000,25000,24000,23000,26000,25000,27000,24000,25000,285000,RECEIPTS | BUSINESS 7 | 2025-01-01 00:00:00: 2...,RECEIPTS
7,BUSINESS 8,18000,15000,19000,17000,20000,18000,21000,19000,20000,22000,19000,21000,229000,RECEIPTS | BUSINESS 8 | 2025-01-01 00:00:00: 1...,RECEIPTS
8,BUSINESS 9,30000,28000,31000,29000,32000,31000,30000,33000,31000,34000,32000,35000,376000,RECEIPTS | BUSINESS 9 | 2025-01-01 00:00:00: 3...,RECEIPTS
9,BUSINESS 10,27000,25000,28000,26000,29000,27000,28000,30000,28000,31000,29000,31000,339000,RECEIPTS | BUSINESS 10 | 2025-01-01 00:00:00: ...,RECEIPTS
10,TOTAL,237000,232000,251000,242000,275000,250000,271000,268500,268000,291500,259000,288000,3133000,RECEIPTS | TOTAL | 2025-01-01 00:00:00: 237000...,RECEIPTS
11,BUSINESS 1,10000,12000,9000,11000,12000,9000,10000,11000,12000,13000,11000,12000,132000,PAYMENTS | BUSINESS 1 | 2025-01-01 00:00:00: 1...,PAYMENTS
12,BUSINESS 2,7000,8000,9000,7000,8000,9000,10000,8000,9000,8000,9000,10000,102000,PAYMENTS | BUSINESS 2 | 2025-01-01 00:00:00: 7...,PAYMENTS
13,BUSINESS 3,25000,27000,24000,26000,27000,25000,28000,27000,26000,27000,26000,27000,315000,PAYMENTS | BUSINESS 3 | 2025-01-01 00:00:00: 2...,PAYMENTS
14,BUSINESS 4,4000,5000,4000,4500,5000,4500,4000,5000,4500,5000,4000,4500,54000,PAYMENTS | BUSINESS 4 | 2025-01-01 00:00:00: 4...,PAYMENTS
15,BUSINESS 5,30000,32000,31000,33000,34000,31000,32000,34000,33000,35000,34000,35000,394000,PAYMENTS | BUSINESS 5 | 2025-01-01 00:00:00: 3...,PAYMENTS
16,BUSINESS 6,9000,10000,9000,9500,10000,9500,9000,10000,9500,10000,9500,10000,115000,PAYMENTS | BUSINESS 6 | 2025-01-01 00:00:00: 9...,PAYMENTS
17,BUSINESS 7,12000,13000,11000,12000,13000,12000,11000,13000,12000,13000,12000,13000,147000,PAYMENTS | BUSINESS 7 | 2025-01-01 00:00:00: 1...,PAYMENTS
18,BUSINESS 8,8000,7000,9000,8000,9000,8000,9000,8000,9000,9000,8000,9000,101000,PAYMENTS | BUSINESS 8 | 2025-01-01 00:00:00: 8...,PAYMENTS
19,BUSINESS 9,22000,23000,21000,22000,23000,21000,22000,23000,21000,23000,22000,23000,266000,PAYMENTS | BUSINESS 9 | 2025-01-01 00:00:00: 2...,PAYMENTS
20,BUSINESS 10,20000,21000,19000,20000,21000,19000,20000,21000,20000,21000,20000,21000,243000,PAYMENTS | BUSINESS 10 | 2025-01-01 00:00:00: ...,PAYMENTS
21,TOTAL,147000,158000,146000,153000,162000,148000,155000,160000,156000,164000,155500,164500,1869000,PAYMENTS | TOTAL | 2025-01-01 00:00:00: 147000...,PAYMENTS

In [88]:
import google.generativeai as genai

In [89]:
genai.configure(api_key=Gemini)

In [90]:
def embed_text(full_data):
    full_data = genai.embed_content(model="models/text-embedding-004", content=full_data['summary'][:2000])
    return full_data['embedding']

In [91]:
full_data['embedding'] = full_data.apply(embed_text, axis=1)

In [92]:
full_data.head()

,BUSINESS,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00,TOTAL,summary,doc_type,embedding
0,BUSINESS 1,23000,19000,27000,25000,30000,22000,28000,26000,27000,31000,25000,29000,312000,RECEIPTS | BUSINESS 1 | 2025-01-01 00:00:00: 2...,RECEIPTS,"[0.06044815, 0.029452462, 0.031084491, 0.01190..."
1,BUSINESS 2,15000,21000,18000,17000,22000,20000,24000,23000,25000,26000,20000,27000,258000,RECEIPTS | BUSINESS 2 | 2025-01-01 00:00:00: 1...,RECEIPTS,"[0.061861213, 0.017928993, 0.015584222, 0.0133..."
2,BUSINESS 3,35000,37000,30000,34000,36000,31000,39000,32000,34000,36000,33000,37000,414000,RECEIPTS | BUSINESS 3 | 2025-01-01 00:00:00: 3...,RECEIPTS,"[0.07999031, 0.030397158, 0.009804463, 0.01733..."
3,BUSINESS 4,10000,9000,12000,11000,14000,13000,12000,12500,13000,13500,11000,12000,143000,RECEIPTS | BUSINESS 4 | 2025-01-01 00:00:00: 1...,RECEIPTS,"[0.06273889, 0.03805575, 0.0004410048, 0.01187..."
4,BUSINESS 5,40000,42000,45000,43000,46000,44000,47000,45000,44000,48000,46000,47000,537000,RECEIPTS | BUSINESS 5 | 2025-01-01 00:00:00: 4...,RECEIPTS,"[0.08016346, 0.051330242, 0.024586752, 0.02628..."

In [93]:
def distance(text):
    return np.dot(text['embedding'],text['question'])

In [99]:
genai.configure(api_key=Gemini)

# Create the model
# See https://ai.google.dev/api/python/google/generativeai/GenerativeModel
generation_config = {
  "temperature": 1,
  "top_p": 0.95,
  "top_k": 64,
  "max_output_tokens": 100000,
  "response_mime_type": "text/plain",
}

model = genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  generation_config=generation_config,
  # safety_settings = Adjust safety settings
  # See https://ai.google.dev/gemini-api/docs/safety-settings
  system_instruction= 'You are a personal finance who is helping to resond to question based on the finacial data',
)

In [100]:
chat_session = model.start_chat(
  history=[
  ]
)

In [106]:
def query_answer(question,df,k=5):
    question_embd = genai.embed_content(model="models/text-embedding-004", content=question)
    emb = question_embd['embedding']
    def questio(row):
        return emb
    df['question'] = df.apply(questio, axis=1)
    df['distance'] = df.apply(distance, axis=1)
    
    sorted_df = df.sort_values('distance', ascending=False, inplace=False)
    
    def combine_email(k=5):
        text = ""
        for i in range(k):
            text += sorted_df['summary'].iloc[i]+'\n\n'
        return text
    
    question_model = question+"\n\n"+" Use this information to answer from Financial reports to answer \n"+combine_email(k)+"\n .Stick to the context of question and anwer and only provide related information" 
    response = chat_session.send_message(question_model)
    return response.text

In [107]:
print(query_answer("How many business make revenue more than 20,000 in march",full_data,10))

Three businesses had March revenues greater than 20,000: Business 1, Business 3, and Business 10.

In [108]:
print(query_answer("All insights on data related to BUSINESS 1",full_data,10))

Here's a summary of the financial data for BUSINESS 1:

* **Total Revenue (Receipts):** 312,000 for the year.

* **Monthly Revenue:** Revenue varies monthly, ranging from a low of 19,000 in February to a high of 31,000 in October.  March revenue was 27,000.

* **Total Expenses (Payments):** 132,000 for the year.

* **Monthly Expenses:** Expenses fluctuate, with lows of 9,000 in June and highs of 13,000 in October. March expenses were 9,000.

**Important Note:** This analysis only uses the provided receipts and payments data.  A complete financial picture would require additional information like cost of goods sold, taxes, and other financial metrics.  No profit figures can be calculated from this limited dataset.